{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <a id="back-button" class="btn small square" href="javascript:history.back()">« Back</a>
      <div class="post meta">
        <time datetime="{{date format="DD MMM YYYY"}}">{{date format="DD MMM YYYY"}}</time>
        <span class="post tags">{{tags prefix="in " separator=" "}}</span>
        <span class="post reading-time"> – <span></span> read.</span>
      </div>

      <a id="share_twitter" alt="Tweet '{{title}}'" target="_blank">
        {{#if image}}<img id="post-image" src={{image}} alt="{{{title}}}">{{/if}}
        <h1 class="icon-reverse icon-social-twitter-post" id="post-title">{{{title}}}.</h1>
      </a>
    </header>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Header -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-7445638370146721"
        data-ad-slot="7987647695"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>

  {{> comments}}

{{/post}}
